{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.14/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/tabla.css' %}">
    
    <title>Document</title>
</head>
{% block content %}
{% include "navbar.html" %}
{% endblock %}

<body>
    
    <div class="containter p-30">
        <div class="row">
            <div class="col-md-12 main-datatable">
                <div class="card_body">
                    <div class="row d-flex">
                        <div class="col-sm-4 createSegment" hidden> 
                            <a class="btn dim_button create_new"> <span class="glyphicon glyphicon-plus"></span> Create New</a>
                        </div>
                        <div class="col-sm-8 add_flex">
                            <div class="form-group searchsInput">
                                <label for="email">Search:</label>
                                <input type="searchs" class="form-control" id="filterbox" placeholder=" ">
                            </div>
                        </div> 
                    </div>
                    <div class="overflow-x">
                        <table style="width:100%;" id="filtertable" class="table cust-datatable dataTable no-footer">
                            <thead> 
                                <tr>
                                    <th style="min-width:50px;">Usuario</th>
                                    <th style="min-width:50px;">Nombre</th>
                                    <th style="min-width:50px;">Apellido</th>
                                    <th style="min-width:50px;">Email</th>
                                    <th style="min-width:50px;">Estado</th>
                                    <th style="min-width:50px;">Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                               
                                {% for estudiantes in estudiantes %}
                                    {% if estudiantes.usuario_id %}
                                        <tr>
                                            <td>{{ estudiantes.usuario }}</td>
                                            <td>{{ estudiantes.usuario.first_name }}</td>
                                            <td>{{ estudiantes.usuario.last_name }}</td>
                                            <td>{{ estudiantes.usuario.email }}</td>
                                            {% if estudiantes.estado != 3 %}
                                            <td><span class="mode mode_off">Pendiente de aprobar</span></td>
                                            {% elif estudiantes.estado == 3 %}
                                            <td><span class="mode mode_on">Cuota aprobada</span></td>
                                            {% endif %}
                                            <td>
                                                <div class="btn-group">
                                                    <a class="dropdown-toggle dropdown_icon" data-toggle="dropdown">
                                                        <i class="fa fa-ellipsis-h"></i>
                                                    </a>
                                                    
                                                    <ul class="dropdown-menu dropdown_more">
                                                        
                                                        <li>
                                                            <a href="../docente/estudio_docente/?id={{ estudiantes.usuario.id }}" target="_black">
                                                                <i class="fa fa-clone"></i>Ver estudio
                                                            </a>
                                                        </li>
                                                        {% if estudiantes.estado == 2 %}
                                                        <li>
                                                            <a href="../docente/cuota/?id={{ estudiantes.usuario.id }}" target="_blank">
                                                                <i class="fa fa-money"></i>Aprobar Cuota
                                                            </a>
                                                        </li>
                                                        {% endif %}
                                                        
                                                    </ul>
                                                    
                                                </div>

                                            </td>   
                                            
                                            
                                        </tr>  
                                    
                                    {% endif %}
                                {% endfor %}
                                   
                                    
                                
                            </tbody>

                            

                            
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.14/js/jquery.dataTables.min.js"></script>
    <script  src="{% static '/tabla.js' %}"></script>

    
    
</body>

</html>